<!DOCTYPE html>
<html>
  <head>
    <title>Auto Deploy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Testing auto deploy Heroku Admin Page</p>
  </body>
</html>
