<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang Admin SCTT-Shop</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/site.css">

    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bootstrap-select/js/i18n/defaults-vi_VN.min.js"></script>
    <script src="handlers/utils.js"></script>
    <style>
        body {
            background: #ddd;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="col-md-4 col-md-offset-4" style="margin-top: 15%; background: #fff; padding: 20px;">
            <form class="form-signin" action="/login" method="POST">
                <h2 class="form-signin-heading">Trang Admin</h2>
                <div class="form-group">
                    <label for="username">Tên Đăng Nhập</label>
                    <input type="text" name="username" class="form-control" autofocus placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">Mật Khẩu</label>
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <%if (errorText != null && errorText != '') { %>
                <span style="color:red"> <%= errorText %> </span>
                <% } %>
                <button style="margin-top:5px" class="btn btn-lg btn-primary btn-block" type="submit">Đăng Nhập</button>
            </form>

            <div style="margin-top:10px; text-align: center;">
                <a href="#" data-toggle="modal" data-target="#dlgforgotpass">
                    <p style="color:red;">Quên mật khẩu ?</p>
                </a>
            </div>

            <div style="margin-top:10px; text-align: center">
                <a href="/signup">Đăng Ký Tài Khoản</a>
            </div>
        </div>
    </div> <!-- /container -->

    <%include ./common/dialogs%>
</body>
<script>
    window.onload = function () {
        $(function () {
            if (window.location.protocol === "https:")
                window.location.protocol = "http";
        });
    }

    function handleForgotPass(e) {
        e.preventDefault();

        const username = $("#dlgforgotpass input[name='username']").val();
        const email = $("#dlgforgotpass input[name='email']").val();

        if (username == "" || email == "")
            return false;

        $.ajax({
            type: "POST",
            url: window.location.protocol + "//" + window.location.host + "/forgotpass",
            data: serializeFormToJSon("#formforgotpass"),
            dataType: "json"
        }).done(function (resp) {
            if (resp.returncode == -2){
                FormUtils.showMessageBox('Người Dùng Không Tồn Tại',null,'error');
            }
            else if (resp.returncode == -1){
                FormUtils.showMessageBox('Email Không Khớp Với Người Dùng',null,'error');
            }
            else if (resp.returncode == 0){
                FormUtils.showMessageBox('Đã xảy ra lỗi trong quá trình xử lý',null,'error');
            }
            else if (resp.returncode == 1){
                FormUtils.showMessageBox('Gửi Mail Reset Mật Khẩu Thành Công',null,'success');
                $("#dlgforgotpass").modal('hide');
            }

        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log("Error: " + textStatus);
        }).always(function () {
        });

        return false;
        
    }

    function serializeFormToJSon(form) {
        return $(form).serializeArray().reduce((acc, next) => ({
            ...acc,
            [next.name]: next.value
        }), {});
    }
</script>

</html>