<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Trang Admin</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="preload" href="http://chart-scttshop.herokuapp.com/public/dashboard/19a88397-0e3d-4483-b967-1488691ccf1d" as="document"
 
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
  <!-- jvectormap -->
  <link rel="stylesheet" href="bower_components/jvectormap/jquery-jvectormap.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <% include common\header%>
  <% include common\sidebar%>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  
    <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
      <div id="summary">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-aqua"><i class="fa fa-bar-chart"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">KPI</span>
                <span class="info-box-number">90<small>%</small></span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-red"><i class="fa fa-star"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Đánh Giá Trung Bình</span>
                <span class="info-box-number">4.75*</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix visible-sm-block"></div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Số Đơn Hàng</span>
                <span class="info-box-number">760</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Người dùng mới</span>
                <span class="info-box-number">2,000</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="row">

                      <div class="col-md-10">
                      <!-- <iframe
                        src="http://chart-scttshop.herokuapp.com/public/dashboard/19a88397-0e3d-4483-b967-1488691ccf1d"
                        frameborder="0"
                        style="width:120%;"
                        height="600"
                        allowtransparency
                    ></iframe> -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- ./box-body -->
              
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

       </div>

       <div id="users" style="display: none;">
        <div class="row">
          <div class="col-xs-12">
            
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Danh Sách Người Dùng</h3>
                <a href="#" class="btn btn-sm btn-info btn-flat pull-right"
                data-toggle="modal" data-target="#dlgupdate"
                onclick="onShowInsertUser();return false;"
                >Thêm Người Dùng Mới</a>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table id="userTable" class="table table-bordered table-striped table-hover">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tên Tài Khoản</th>
                    <th>Họ Và Tên</th>
                    <th>Mật Khẩu</th>
                    <th>Số CMND</th>
                    <th>Số Điện Thoại</th>
                    <th>Địa Chỉ</th>
                    <th>Cấp Độ</th>
                    <th></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td>naduy</td>
                    <td>Nguyễn Anh Duy</td>
                    <td>******</td>
                    <td>123456789</td>
                    <td>0948202709</td>
                    <td>Đồng Nai</td>
                    <td>Quản Trị Viên</td>
                    <td><Button class="btn btn-block btn-primary btn-sm"
                      data-toggle="modal" data-target="#dlgupdate"
                      onclick="onShowUpdateForm(1,'naduy','Nguyễn Anh Duy',
                      '123456789','0948202709','Đồng Nai',0);"
                      >Chỉnh Sửa</Button></td>
                      <td><Button class="btn btn-block btn-danger btn-sm"
                        data-toggle="modal" data-target="#dlgdeleteuser"
                        onclick="onShowDeleteUser(1,'naduy');"
                        >Xóa</Button></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>vtduy</td>
                    <td>Võ Tấn Duy</td>
                    <td>******</td>
                    <td>135792468</td>
                    <td>0900112233</td>
                    <td>TP.HCM</td>
                    <td>Quản Lý</td>
                    <td><Button 
                      class="btn btn-block btn-primary btn-sm"
                      data-toggle="modal" data-target="#dlgupdate"
                      onclick="onShowUpdateForm(2,'vtduy','Võ Tấn Duy',
                      '135792468','0900112233','TP.HCM',1);"
                      >Chỉnh Sửa</Button></td>
                      <td><Button class="btn btn-block btn-danger btn-sm"
                        data-toggle="modal" data-target="#dlgdeleteuser"
                        onclick="onShowDeleteUser(2,'vtduy');"
                        >Xóa</Button></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>dcduy</td>
                    <td>Đinh Công Duy</td>
                    <td>******</td>
                    <td>987654321</td>
                    <td>0840123445</td>
                    <td>TP.HCM</td>
                    <td>Người Dùng</td>
                    <td><Button class="btn btn-block btn-primary btn-sm"
                      data-toggle="modal" data-target="#dlgupdate"
                      onclick="onShowUpdateForm(3,'dcduy','Đinh Công Duy',
                      '987654321','0840123445','TP.HCM',2);"
                      >Chỉnh Sửa</Button></td>
                      <td><Button class="btn btn-block btn-danger btn-sm"
                        data-toggle="modal" data-target="#dlgdeleteuser"
                        onclick="onShowDeleteUser(3,'dcduy');"
                        >Xóa</Button></td>
                  </tr>
                  
                  
                  </tfoot>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>

      <div id="products" style="display: none;">
        <div class="row">
          <div class="col-xs-12">
            
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Danh Sách Gian Hàng</h3>
                <a href="#" class="btn btn-sm btn-info btn-flat pull-right"
                data-toggle="modal" data-target="#dlginsertbooth"
                >Tạo Gian Hàng Mới</a>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table id="boothTable" class="table table-bordered table-striped table-hover">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tên Gian Hàng</th>
                    <th>Số Loại Sản Phẩm</th>
                    <th>Tổng Số Sản Phẩm</th>
                    <th>Xóa Gian Hàng</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td>Áo</td>
                    <td>3</td>
                    <td>50</td>
                    <td><Button class="btn btn-block btn-danger btn-sm"
                      data-toggle="modal" data-target="#dlgdeletebooth"
                      onclick="onShowDeleteBooth(1,'Áo');">Xóa</Button></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Quần</td>
                    <td>4</td>
                    <td>55</td>
                    <td><Button class="btn btn-block btn-danger btn-sm"
                      data-toggle="modal" data-target="#dlgdeletebooth"
                      onclick="onShowDeleteBooth(2,'Quần');"
                      >Xóa</Button></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Nón</td>
                    <td>2</td>
                    <td>35</td>
                    <td><Button class="btn btn-block btn-danger btn-sm"
                      data-toggle="modal" data-target="#dlgdeletebooth"
                      onclick="onShowDeleteBooth(3,'Nón');">Xóa</Button></td>
                  </tr>
                  
                  </tfoot>
                </table>
              </div>
              <!-- /.box-body -->
            </div>

            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Danh Sách Sản Phẩm Thuộc Gian Hàng Trên</h3>
                <a href="#" class="btn btn-sm btn-info btn-flat pull-right"
                data-toggle="modal" data-target="#dlgproduct"
                onclick="onShowInsertProduct();return false;"
                >Thêm Sản Phẩm Mới</a>
              </div>
              <!-- /.box-header -->
              <div class="box-body" id="productTable1">
                <table class="table table-bordered table-striped table-hover">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Loại</th>
                    <th>Số Lượng</th>
                    <th>Đơn Giá</th>
                    <th>Xóa Sản Phẩm</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td>Áo Sơ Mi</td>
                    <td>Áo</td>
                    <td>15</td>
                    <td>250.000VNĐ</td>
                    <td><Button class="btn btn-block btn-danger btn-sm"
                      data-toggle="modal" data-target="#dlgdeletebooth"
                      onclick="onShowDeleteBooth(1,'Áo Sơ Mi');">Xóa</Button></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Áo Thun Tay Dài</td>
                    <td>Áo</td>
                    <td>15</td>
                    <td>350.000VNĐ</td>
                    <td><Button class="btn btn-block btn-danger btn-sm"
                      data-toggle="modal" data-target="#dlgdeletebooth"
                      onclick="onShowDeleteBooth(2,'Áo Thun Tay Dài');">Xóa</Button></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Áo Hoodie</td>
                    <td>Áo</td>
                    <td>20</td>
                    <td>400.000VNĐ</td>
                    <td><Button class="btn btn-block btn-danger btn-sm"
                      data-toggle="modal" data-target="#dlgdeletebooth"
                      onclick="onShowDeleteBooth(3,'Áo Hoodie');">Xóa</Button></td>
                  </tr>
                  
                  </tfoot>
                </table>
              </div>
              <div class="box-body" id="productTable2" style="display:none;">
                <table class="table table-bordered table-striped table-hover">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Loại</th>
                    <th>Số Lượng</th>
                    <th>Đơn Giá</th>
                    <th>Xóa Sản Phẩm</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td>Quần Kaki</td>
                    <td>Quần</td>
                    <td>25</td>
                    <td>550.000VNĐ</td>
                    <td><Button class="btn btn-block btn-danger btn-sm"
                      data-toggle="modal" data-target="#dlgdeletebooth"
                      onclick="onShowDeleteBooth(1,'Quần Kaki');">Xóa</Button></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Quần Dài</td>
                    <td>Quần</td>
                    <td>15</td>
                    <td>350.000VNĐ</td>
                    <td><Button class="btn btn-block btn-danger btn-sm"
                      data-toggle="modal" data-target="#dlgdeletebooth"
                      onclick="onShowDeleteBooth(2,'Quần Dài');">Xóa</Button></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Quần Short</td>
                    <td>Quần</td>
                    <td>10</td>
                    <td>400.000VNĐ</td>
                    <td><Button class="btn btn-block btn-danger btn-sm"
                      data-toggle="modal" data-target="#dlgdeletebooth"
                      onclick="onShowDeleteBooth(3,'Quần Short');">Xóa</Button></td>
                  </tr>

                  <tr>
                    <td>4</td>
                    <td>Quần Thun Đi Biển</td>
                    <td>Quần</td>
                    <td>5</td>
                    <td>150.000VNĐ</td>
                    <td><Button class="btn btn-block btn-danger btn-sm"
                      data-toggle="modal" data-target="#dlgdeletebooth"
                      onclick="onShowDeleteBooth(4,'Quần Thun Đi Biển');">Xóa</Button></td>
                  </tr>
                  
                  </tfoot>
                </table>
              </div>
              <div class="box-body" id="productTable3" style="display:none;">
                <table  class="table table-bordered table-striped table-hover">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Loại</th>
                    <th>Số Lượng</th>
                    <th>Đơn Giá</th>
                    <th>Xóa Sản Phẩm</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td>Nón Kết</td>
                    <td>Nón</td>
                    <td>15</td>
                    <td>100.000VNĐ</td>
                    <td><Button class="btn btn-block btn-danger btn-sm"
                      data-toggle="modal" data-target="#dlgdeletebooth"
                      onclick="onShowDeleteBooth(1,'Nón Kết');">Xóa</Button></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Nón Vành Rộng</td>
                    <td>Nón</td>
                    <td>20</td>
                    <td>150.000VNĐ</td>
                    <td><Button class="btn btn-block btn-danger btn-sm"
                      data-toggle="modal" data-target="#dlgdeletebooth"
                      onclick="onShowDeleteBooth(2,'Nón Vành Rộng');">Xóa</Button></td>
                  </tr>
                
                  </tfoot>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>

      <div id="orders" style="display: none;">
        <div class="col-md-12" >

        <!-- TABLE: LATEST ORDERS -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Tình Trạng 10 Đơn Hàng Gần Nhất</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          
          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin">
                <thead>
                <tr>
                  <th>Mã Đơn Hàng</th>
                  <th>Tổng Giá Trị</th>
                  <th>Trạng Thái</th>
                  <th>Địa Chỉ Giao Hàng</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><a href="pages/examples/invoice.html">OR9842</a></td>
                  <td>500.000VNĐ</td>
                  <td><span class="label label-success">Đã Giao</span></td>
                  <td>
                    <div class="sparkbar" data-color="#00a65a" data-height="20">Quận 5, Thành Phố Hồ Chí Minh</div>
                  </td>
                </tr>
                <tr>
                  <td><a href="pages/examples/invoice.html">OR1848</a></td>
                  <td>1.000.000VNĐ</td>
                  <td><span class="label label-info">Đang Xử Lý</span></td>
                  <td>
                    <div class="sparkbar" data-color="#f39c12" data-height="20">Quận 3, Thành Phố Hồ Chí Minh</div>
                  </td>
                </tr>
                <tr>
                  <td><a href="pages/examples/invoice.html">OR7429</a></td>
                  <td>2.000.000VNĐ</td>
                  <td><span class="label label-danger">Đang Giao</span></td>
                  <td>
                    <div class="sparkbar" data-color="#f56954" data-height="20">Quận 9, Thành Phố Hồ Chí Minh</div>
                  </td>
                </tr>
                <tr>
                  <td><a href="pages/examples/invoice.html">OR7429</a></td>
                  <td>2.500.000VNĐ</td>
                  <td><span class="label label-info">Đang Xử Lý</span></td>
                  <td>
                    <div class="sparkbar" data-color="#00c0ef" data-height="20">Quận 2, Thành Phố Hồ Chí Minh</div>
                  </td>
                </tr>
                <tr>
                    <td><a href="pages/examples/invoice.html">OR3515</a></td>
                    <td>4.550.000VNĐ</td>
                    <td><span class="label label-info">Đang Xử Lý</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00c0ef" data-height="20">Quận 2, Thành Phố Hồ Chí Minh</div>
                    </td>
                  </tr>
                  
                  <td><a href="pages/examples/invoice.html">OR1848</a></td>
                  <td>3.000.000VNĐ</td>
                  <td><span class="label label-warning">Chưa Thanh Toán</span></td>
                  <td>
                    <div class="sparkbar" data-color="#f39c12" data-height="20">Quận Bình Thạnh, Thành Phố Hồ Chí Minh</div>
                  </td>
                </tr>
                <tr>
                  <td><a href="pages/examples/invoice.html">OR7429</a></td>
                  <td>3.500.000VNĐ</td>
                  <td><span class="label label-success">Đã Giao</span></td>
                  <td>
                    <div class="sparkbar" data-color="#f56954" data-height="20">Biên Hòa, Đồng Nai</div>
                  </td>
                </tr>
                <tr>
                  <td><a href="pages/examples/invoice.html">OR9842</a></td>
                  <td>2.000.000VNĐ</td>
                  <td><span class="label label-success">Đã Giao</span></td>
                  <td>
                    <div class="sparkbar" data-color="#00a65a" data-height="20">Vũng Tàu</div>
                  </td>
                </tr>
                <tr>
                    <td><a href="pages/examples/invoice.html">OR2709</a></td>
                    <td>4.500.000VNĐ</td>
                    <td><span class="label label-info">Đang Xử Lý</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00c0ef" data-height="20">Quận 2, Thành Phố Hồ Chí Minh</div>
                    </td>
                  </tr>
              <tr>
                </tbody>
              </table>
            </div>
            
          </div>
          
        </div>
        </div>
      </div>

    </section>
   
  </div>

  <% include common\dialogs%>

  <%include common\script%>

  

</body>
</html>
