<!DOCTYPE html>
<html>
<% include ../common/preheader%>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <% include ../common/header%>
    <% include ../common/sidebar%>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

      <!-- Main content -->
      <section class="content">
        <!-- Info boxes -->
        <div id="summary">
         <div class="form-group col-md-8" style="display: flex;flex-direction: row">
          <h4 class="col-md-2">Thống Kê Theo: </h4>
          <select class="form-control" id="summaryType" onchange="changeSummaryType()">
            <option value="DAY">Ngày</option>
            <option value="WEEK">Tuần</option>
            <option value="MONTH">Tháng</option>
            <option value="QUARTER">Quý</option>
            <option value="YEAR">Năm</option>
          </select>
        </div>

          <div class="row">
            <div class="col-md-12">
                <div class="col-md-10" id="chartSection">

                    <iframe
                      src="http://chart-scttshop.herokuapp.com/public/dashboard/033a257b-2a4f-4050-81bf-fc09e8abc092#refresh=60"
                      frameborder="1" style="width:120%;" height="750" allowtransparency></iframe>
                  </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

        </div>

      </section>

    </div>

    <%include ../common/script%>

</body>
<script>
  function changeSummaryType(){
    const type = $("#summaryType").val();
    
    if (type == "DAY"){
      document.getElementById("chartSection").innerHTML = '<iframe src="http://chart-scttshop.herokuapp.com/public/dashboard/033a257b-2a4f-4050-81bf-fc09e8abc092#refresh=60 frameborder="0" style="width:120%;" height="750" allowtransparency></iframe>';
    }
    else if (type == "WEEK"){
      document.getElementById("chartSection").innerHTML = '<iframe src="http://chart-scttshop.herokuapp.com/public/dashboard/d6554b47-5243-4b12-a8db-ff233ecc87d2#refresh=60 frameborder="0" style="width:120%;" height="750" allowtransparency></iframe>';
    }
    else if (type == "MONTH"){
      document.getElementById("chartSection").innerHTML = '<iframe src="http://chart-scttshop.herokuapp.com/public/dashboard/cdd1cc32-662d-4448-9aa0-6da617462489#refresh=60 frameborder="0" style="width:120%;" height="750" allowtransparency></iframe>';
    }
    else if (type == "QUARTER"){
      document.getElementById("chartSection").innerHTML = '<iframe src="http://chart-scttshop.herokuapp.com/public/dashboard/d9b04367-4f62-4ca5-a8ca-4de88cf87b66#refresh=60 frameborder="0" style="width:120%;" height="750" allowtransparency></iframe>';
    }
    else if (type == "YEAR"){
      document.getElementById("chartSection").innerHTML = '<iframe src="http://chart-scttshop.herokuapp.com/public/dashboard/40d824a9-13a8-449a-b7a3-6f323ea4eacd#refresh=60 frameborder="0" style="width:120%;" height="750" allowtransparency></iframe>';
    }

  }
</script>

</html>