<!DOCTYPE html>
<html>
<% include ../common/preheader%>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <% include ../common/header%>
    <% include ../common/sidebar%>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

      <!-- Main content -->
      <section class="content">
        <!-- Info boxes -->
        <div id="summary">

          <div class="row">
            <div class="col-md-12">
              <div class="box">
                <div class="box-header with-border">

                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>

                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                        class="fa fa-times"></i></button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <div class="row">

                    <div class="col-md-10">                 
                      <iframe
                        src="http://chart-scttshop.herokuapp.com/public/dashboard/b97162db-651b-4bae-ad8c-98a139f27a8c#refresh=60"
                        frameborder="0" style="width:120%;" height="800" allowtransparency></iframe>
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                </div>
                <!-- ./box-body -->

              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

        </div>

      </section>

    </div>

    <%include ../common/script%>



</body>

</html>