<!DOCTYPE html>
<html lang="en">

  <body>
    <%
      if(user!=null) console.log(user.uid)
    %>
    <!-- catg header banner section -->
    <section id="aa-catg-head-banner">
      <img src="../img/fashion/fashion-header-bg-8.jpg" alt="fashion img" />
      <div class="aa-catg-head-banner-area">
        <div class="container">
          <div class="aa-catg-head-banner-content">
            <h2>Trang tài khoản</h2>
            <ol class="breadcrumb">
              <li><a href="/">Trang chủ</a></li>
              <li class="active">Tài khoản</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!-- / catg header banner section -->

    <!-- Cart view section -->
    <section id="aa-myaccount">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="aa-myaccount-area">
              <div class="row">
                <div class="col-md-12">
                  <div class="aa-myaccount-login">
                    <h4>Thông tin cá nhân</h4>
                    <form action="/user/logout" class="aa-account-detail" method="POST">
                      <div class="row">
                      <label for="staticEmail" class="col-sm-2 col-form-label col-md-4">Email: </label>
                      <div class="col-sm-10 col-md-8">
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="<%= user.email %>">
                      </div>
                      </div>
                      <div class="row">
                      <label for="fullName" class="col-sm-2 col-form-label  col-md-4">Họ và tên: </label>
                      <div class="col-sm-10 col-md-8">
                        <input type="text" readonly class="form-control-plaintext" id="fullName" value="<%= user.displayName %>">
                      </div>
                    </div>
                      <div class="row">
                      <label for="address" class="col-sm-2 col-form-label  col-md-4">Địa chỉ: </label>
                      <div class="col-sm-10 col-md-8">
                        <input type="text" readonly class="form-control-plaintext" id="address" value="<%= user.address %>">
                      </div>
                    </div>
                      <div class="row">
                      <label for="phoneNum" class="col-sm-2 col-form-label  col-md-4">Số điện thoại: </label>
                      <div class="col-sm-10 col-md-8">
                        <input type="text" readonly class="form-control-plaintext" id="phoneNum" value="<%= user.phoneNumber %>">
                      </div>
                    </div>
                      <div class="row">
                      <label for="status1" class="col-sm-2 col-form-label  col-md-4">Tình trạng: </label>
                      <div class="col-sm-10 col-md-8">
                        <input type="text" readonly class="form-control-plaintext" id="status1" value="<% if (user.verified===true) { %> Đã xác thực <%} else {%>Chưa xác thực<% }%>">
                      </div>
                      
                        <button class="aa-browse-btn" type="submit" value="submit" >Đăng xuất</button>
                      
                      
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      alert(user.uid);
      
    </script>
    <!-- / Cart view section -->
  </body>
</html>
