<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
  </head>
  <body>
        <section id="aa-catg-head-banner">
                <img src="../img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
                <div class="aa-catg-head-banner-area">
                 <div class="container">
                  <div class="aa-catg-head-banner-content">
                    <h2>Trang tài khoản</h2>
                    <ol class="breadcrumb">
                      <li><a href="/">Trang chủ</a></li>                   
                      <li class="active">Tài khoản</li>
                    </ol>
                  </div>
                 </div>
               </div>
              </section>
 <!-- Cart view section -->
 <section id="aa-myaccount">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="aa-myaccount-area">         
            <div class="row">
              <div class="col-md-12">
                <div class="aa-myaccount-register">                 
                 <h4>Đăng kí</h4>
                 <form action="/user/createUser" method="POST" class="aa-login-form" onsubmit="return handleSignUp()"  >
                    <label for="">Email<span>*</span></label>
                    <input type="text" id="username"  name="username" placeholder="Email">
                    <label for="">Họ và tên<span>*</span></label>
                    <input type="text" id="displayName" name="displayName" placeholder="Full name">
                    <div class="md-form form-lg">
                        <label for="">Mật khẩu<span>*</span></label>
                        <input type="password" id="password" name="password" placeholder="Password">
                        <small  id="passwordHelpBlock" class="form-text text-muted">
                            Mật khẩu phải dài hơn 8 kí tự
                        </small>   
                    </div>
                    
                    <label for="">Nhập lại mật khẩu<span>*</span></label>
                    <input type="password" id="re-password" name="re-password" placeholder="Confirm Password">
                    <label for="">Địa chỉ<span>*</span></label>
                    <input type="text" id="address" name="address" placeholder="Address">
                    <label for="">Số điên thoại<span>*</span></label>
                    <input type="text" id="phone" name="phone" placeholder="Phone number">
                    <button type="submit" class="aa-browse-btn" style=" justify-content: center; align-items:center ">Đăng kí</button>                    
                  </form>
                </div>
              </div>
            </div>          
         </div>
       </div>
     </div>
   </div>
 </section>
 
  </body>
    <script>
  
      var code = "<%= code %>";
      if (typeof code !== 'undefined' && code !=="0" ) alert(code)
      else if (code==="1") alert("Đăng ký tài khoản thành công ! Vui lòng kiểm tra email để xác thực tài khoản. ")
      async function handleSignUp() {
          //console.log("abc")
        
        var email = document.getElementById('username').value;
        var password = document.getElementById('password').value;
        if (email.length==0) {
          alert('Please enter an email address.');
          event.preventDefault() 
          return false;
        }
        if (password.length==0) {
          alert('Please enter a password.');
          event.preventDefault() 
          return false;
        }
        if(password.length<8)
        {
          alert('Your password must be larger than 8 characters long ');
          event.preventDefault() 
          return false;
        }
        /*const data=await auth.createUserWithEmailAndPassword(email, password)
        /*auth.createUserWithEmailAndPassword(email, password)
        then(userData=>{
          alert(userData)
          return false;
        }).catch(function(error) {alert("error") 
        return false})*/
        /*alert(data)
        console.log(data)*/
        return true
      
        }
    
    
      
    
      </script>
