<!DOCTYPE html>
<html lang="en">

  <body>
    <!-- catg header banner section -->
    <section id="aa-catg-head-banner">
      <img src="../img/fashion/fashion-header-bg-8.jpg" alt="fashion img" />
      <div class="aa-catg-head-banner-area">
        <div class="container">
          <div class="aa-catg-head-banner-content">
            <h2>Trang tài khoản</h2>
            <ol class="breadcrumb">
              <li><a href="/">Trang chủ</a></li>
              <li class="active">Tài khoản</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!-- / catg header banner section -->

    <!-- Cart view section -->
    <section id="aa-myaccount">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="aa-myaccount-area">
              <div class="row">
                <div class="col-md-6">
                  <div class="aa-myaccount-login">
                    <h4>Thay đổi mật khẩu</h4>
                    <form action="/user/updatePassword" class="aa-login-form" method="POST">
                      <label for=""></label> Email<span>*</span></label>
                      <input type="text"  readonly value="<%= user.email %>" />
                      <label for="">Mật khẩu cũ</label>
                      <input type="password" id="pre_password" name="pre_password" placeholder="Previous Password" />
                      <label for="">Mật khẩu mới</label>
                      <input type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Password"  title="Phải chứa ít nhất một chữ số, một kí tự hoa, một kí tự thường và độ dài tối thiểu là 8 kí tự" required>  
                      <div id="message">
                        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                        <p id="number" class="invalid">A <b>number</b></p>
                        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                      </div>
                      <label for="">Nhập lại mật khẩu</label>
                      <input type="password" id="re-password" name="re-password" placeholder="Confirm Password" />
                      <div id="divCheckPassword" style="color: red"></div>
                      <button type="submit" class="aa-browse-btn">
                        Xác nhận
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="modal fade" id="abc" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Thông báo</h4>
          </div>
          <div class="modal-body">
            <p>Mật khẩu cũ không đúng</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
    <!-- / Cart view section -->
    <script>
      var myInput = document.getElementById("password");
      var letter = document.getElementById("letter");
      var capital = document.getElementById("capital");
      var number = document.getElementById("number");
      var length = document.getElementById("length");
      var repass = document.getElementById("re-password");
      var modal= document.getElementById("abc")
      var code='<%=code%>'
      $(window).on('load',function(){
        if(code!=="0") $('#abc').modal('show');
      });
     
      myInput.onfocus = function() {
          document.getElementById("message").style.display = "block";
      }
      myInput.onkeyup = function() {
          // Validate lowercase letters
          var lowerCaseLetters = /[a-z]/g;
          if(myInput.value.match(lowerCaseLetters)) { 
          letter.classList.remove("invalid");
          letter.classList.add("valid");
          } else {
          letter.classList.remove("valid");
          letter.classList.add("invalid");
          }

          // Validate capital letters
          var upperCaseLetters = /[A-Z]/g;
          if(myInput.value.match(upperCaseLetters)) { 
          capital.classList.remove("invalid");
          capital.classList.add("valid");
          } else {
          capital.classList.remove("valid");
          capital.classList.add("invalid");
          }

          // Validate numbers
          var numbers = /[0-9]/g;
          if(myInput.value.match(numbers)) { 
          number.classList.remove("invalid");
          number.classList.add("valid");
          } else {
          number.classList.remove("valid");
          number.classList.add("invalid");
          }

          // Validate length
          if(myInput.value.length >= 8) {
          length.classList.remove("invalid");
          length.classList.add("valid");
          } else {
          length.classList.remove("valid");
          length.classList.add("invalid");
          }
      }
      repass.onfocusout=function(){
          if(repass.value!=(myInput.value))
          {
              document.getElementById("divCheckPassword").innerHTML="Passwords do not match!"
          }
          else
          {
              document.getElementById("divCheckPassword").innerHTML=""
          }
      }
</script>
  </body>
  

</html>
