<div id="dlgloading" class="modal fade" role="dialog">
    <div class="modal-dialog" style="padding-top: 5%">
        <div class="loader"></div>
    </div>
</div>

<!-- ############################### USER ACCOUNT SECTION ###############################-->
<div id="dlginsertuser" class="modal fade" role="dialog">
    <div class="modal-dialog" style="padding-top: 10%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Thêm Người Dùng Mới</h4>
            </div>

            <div class="modal-body">
                    <form id="forminsertuseravatar" action="/upload" method="POST" enctype="multipart/form-data">
                    </form>
                <form action="#" method="POST" id="forminsertuser">
                    <div class="form-group">
                        <label for="id" class="control-label">Tên Đăng Nhập:</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Mật Khẩu:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="repassword" class="control-label">Nhập Lại Mật Khẩu:</label>
                        <input type="password" class="form-control" id="repassword" name="repassword" required>
                    </div>
                    <div class="form-group">
                        <label for="fullname" class="control-label">Họ Và Tên:</label>
                        <input type="text" class="form-control" id="fullName" name="fullName">
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label">Email:</label>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                            <label for="avatar" class="control-label">URL Ảnh Đại Diện:</label>
                            <div style="display: flex;flex-direction: row;">
                                <input type="text" class="form-control" id="avatar" name="avatar">
                                <input style="width:50%; margin-left:10px; align-self: center;" type="file"
                                    name="userAvatar" accept="image/png, image/jpeg"
                                    onchange="uploadImage('#forminsertuseravatar','#dlginsertuser input[name=\'avatar\']');return false;"
                                    form="forminsertuseravatar">
                            </div>
                        </div>
                    <div class="form-group">
                        <label for="birthDate" class="control-label">Ngày Sinh:</label>
                        <div class='input-group date date-picker2'>
                            <input type="text" class="form-control" id="birthDate" name="birthDate"
                                placeholder="DD-MM-YYYY"></input>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber" class="control-label">Số Điện Thoại:</label>
                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
                    </div>
                    <div class="form-group">
                        <label for="address" class="control-label">Địa Chỉ:</label>
                        <input type="text" class="form-control" id="address" name="address">
                    </div>
                    <!-- <div class="form-group">
                        <label for="role" class="control-label">Cấp Độ:</label>
                        <select id="role" name="role">
                            <option value="ADMIN" selected>Quản Trị Viên</option>
                            <option value="MANAGER">Quản Lý</option>
                            <option value="USER">Người Dùng</option>
                        </select>

                    </div> -->

                    <button type="submit"
                        onclick="handleInsertUserAccount(); $('#forminsertuser').get(0).reset();  return false;"
                        class="btn btn-info" data-dismiss="modal">Thêm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                </form>
            </div>

        </div>
    </div>
</div>

<div id="dlgupdateuser" class="modal fade" role="dialog">
    <div class="modal-dialog" style="padding-top: 10%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Chỉnh Sửa Thông Tin Người Dùng</h4>
            </div>

            <div class="modal-body">
                    <form id="formupdateuseravatar" action="/upload" method="POST" enctype="multipart/form-data">
                    </form>
                <form action="#" method="POST" id="formupdateuser">
                    <div class="form-group">
                        <label for="id" class="control-label">Tên Đăng Nhập:</label>
                        <input type="text" class="form-control" id="username" name="username" readonly required>
                    </div>
                    <div class="form-group" style="display:none">
                        <input type="text" class="form-control" name="password">
                    </div>
                    <div class="form-group">
                        <label for="fullname" class="control-label">Họ Và Tên:</label>
                        <input type="text" class="form-control" id="fullName" name="fullName">
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label">Email:</label>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                            <label for="avatar" class="control-label">URL Ảnh Đại Diện:</label>
                            <div style="display: flex;flex-direction: row;">
                                <input type="text" class="form-control" id="avatar" name="avatar">
                                <input style="width:50%; margin-left:10px; align-self: center;" type="file"
                                    name="userAvatar" accept="image/png, image/jpeg"
                                    onchange="uploadImage('#formupdateuseravatar','#dlgupdateuser input[name=\'avatar\']');return false;"
                                    form="formupdateuseravatar">
                            </div>
                        </div>
                    <div class="form-group">
                        <label for="birthDate" class="control-label">Ngày Sinh:</label>
                        <div class='input-group date date-picker2'>
                            <input type="text" class="form-control" id="birthDate" name="birthDate"
                                placeholder="DD-MM-YYYY"></input>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber" class="control-label">Số Điện Thoại:</label>
                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
                    </div>
                    <div class="form-group">
                        <label for="address" class="control-label">Địa Chỉ:</label>
                        <input type="text" class="form-control" id="address" name="address">
                    </div>
                    <div class="form-group">
                        <label for="role" class="control-label">Cấp Độ:</label>
                        <select id="role" name="role">
                            <option value="ADMIN">Quản Trị Viên</option>
                            <option value="MANAGER">Quản Lý</option>
                            <option value="USER">Người Dùng</option>
                        </select>

                    </div>

                    <button type="submit" onclick="handleUpdateUserAccount(); return false;" class="btn btn-info"
                        data-dismiss="modal">Cập Nhật</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                </form>
            </div>

        </div>
    </div>
</div>

<div id="dlgdeleteuser" class="modal fade" role="dialog">
    <div class="modal-dialog" style="padding-top: 10%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Xóa Người Dùng</h4>
            </div>

            <div class="modal-body">
                <form method="POST" action="#" id="formdeleteuser">
                    <div class="form-group">
                        <label for="boothname" class="control-label">Tên Người Dùng:</label>
                        <input type="text" class="form-control" id="del_username" name="username" readonly>
                    </div>

                    <button type="button" onclick="handleDeleteUserAccount(); return false;" class="btn btn-danger"
                        data-dismiss="modal">Xóa</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- ############################### END USER ACCOUNT SECTION ###############################-->

<div id="dlgupdateuserdetail" class="modal fade" role="dialog">
    <div class="modal-dialog" style="padding-top: 5%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Chỉnh Sửa Thông Tin Cá Nhân</h4>
            </div>

            <div class="modal-body">
                <form id="formupdateuserdetailavatar" action="/upload" method="POST" enctype="multipart/form-data">
                </form>
                <form action="#" method="POST" id="formupdateuserdetail">
                    <div class="form-group">
                        <label for="id" class="control-label">Tên Đăng Nhập:</label>
                        <input type="text" class="form-control" id="username" name="username" readonly required>
                    </div>
                    <div class="form-group" style="display: none">
                        <input type="text" class="form-control" id="password" name="password" readonly required>
                    </div>
                    <div class="form-group">
                        <label for="id" class="control-label">Cấp Độ:</label>
                        <input type="text" class="form-control" id="role" name="role" readonly required>
                    </div>

                    <div class="form-group">
                        <label for="fullname" class="control-label">Họ Và Tên:</label>
                        <input type="text" class="form-control" id="fullName" name="fullName">
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label">Email:</label>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="birthDate" class="control-label">Ngày Sinh:</label>
                        <div class='input-group date date-picker2'>
                            <input type="text" class="form-control" id="birthDate" name="birthDate"
                                placeholder="YYYY-MM-DD"></input>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="avatar" class="control-label">URL Ảnh Đại Diện:</label>
                        <div style="display: flex;flex-direction: row;">
                            <input type="text" class="form-control" id="avatar" name="avatar">
                            <input style="width:50%; margin-left:10px; align-self: center;" type="file"
                                name="userAvatar" accept="image/png, image/jpeg"
                                onchange="uploadImage('#formupdateuserdetailavatar','#dlgupdateuserdetail input[name=\'avatar\']');return false;"
                                form="formupdateuserdetailavatar">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber" class="control-label">Số Điện Thoại:</label>
                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
                    </div>
                    <div class="form-group">
                        <label for="address" class="control-label">Địa Chỉ:</label>
                        <input type="text" class="form-control" id="address" name="address">
                    </div>


                    <button type="submit" onclick="handleUpdateUserDetail(); return false;" class="btn btn-info">Cập
                        Nhật</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                </form>
            </div>

        </div>
    </div>
</div>

<div id="dlgchangepassword" class="modal fade" role="dialog">
    <div class="modal-dialog" style="padding-top: 5%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Đổi Mật Khẩu</h4>
            </div>

            <div class="modal-body">
                <form action="#" method="POST" id="formchangepassword">
                    <div class="form-group">
                        <label for="username" class="control-label">Tên Đăng Nhập:</label>
                        <input type="text" class="form-control" name="username" readonly required>
                    </div>
                    <div class="form-group" style="display: none">
                        <input type="text" class="form-control" name="fullName" readonly required>
                    </div>
                    <div class="form-group" style="display: none">
                        <input type="text" class="form-control" name="address" readonly required>
                    </div>
                    <div class="form-group" style="display: none">
                        <input type="text" class="form-control" name="phoneNumber" readonly required>
                    </div>
                    <div class="form-group" style="display: none">
                        <input type="text" class="form-control" name="birthDate" readonly required>
                    </div>
                    <div class="form-group" style="display: none">
                        <input type="text" class="form-control" name="role" readonly required>
                    </div>
                    <div class="form-group" style="display: none">
                        <input type="text" class="form-control" name="email" readonly required>
                    </div>
                    <div class="form-group" style="display: none">
                        <input type="text" class="form-control" name="avatar" readonly required>
                    </div>

                    <div class="form-group">
                        <label for="password" class="control-label">Mật Khẩu Mới:</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="form-group">
                        <label for="repassword" class="control-label">Nhập Lại Mật Khẩu Mới:</label>
                        <input type="password" class="form-control" name="repassword">
                    </div>

                    <button type="submit" onclick="handleChangePassword(); return false;" class="btn btn-info"
                        data-dismiss="modal">Cập Nhật</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                </form>
            </div>

        </div>
    </div>
</div>



<!-- ############################### POPUP MESSAGE SECTION ###############################-->

<!-- Global message box -->
<div id="popup_message_box" style="display: none;">
    <div id="popup_message_box_dim" style="
             background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
             position: absolute;
             top: 0px; left: 0px;
             height: 100%;
             width: 100%;
             overflow: auto;
             z-index: 9998;">
    </div>

    <div style="width: 300px; position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 9999;">
        <div id="popup_message_panel" class="panel panel-default">
            <div class="panel-heading" style="height: 30pt">
                <h3 class="panel-title" id="msg_header" style="float: left;">Thông báo</h3>
                <span style="float: right;">
                    <a id="popup_message_box_close" data-placement="bottom" title="" rel="tooltip"
                        class="button-icon jarviswidget-delete-btn" href="javascript:void(0);"
                        data-original-title="Delete">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                </span>
                <span style="clear: both"></span>
            </div>
            <div class="panel-body">
                <p style="text-align: left;" id="popup_message_box_content">...</p>
            </div>
        </div>
    </div>
</div>

<div id="popup_confirm_message_box" style="display: none;">
    <div id="popup_confirm_message_box_dim" style="
             background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
             position: absolute;
             top: 0px; left: 0px;
             height: 100%;
             width: 100%;
             overflow: auto;
             z-index: 9998;"></div>
    <div style="width: 300px; position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 9999;">

        <div id="popup_confirm_message_panel" class="panel panel-default">
            <div class="modal-header" style="height: 30pt">
                <h3 class="panel-title" id="msg_header" style="float: left;">Thông báo</h3>
                <span style="float: right;">
                    <a id="popup_confirm_message_box_close" data-placement="bottom" title="" rel="tooltip"
                        class="button-icon jarviswidget-delete-btn" href="javascript:void(0);"
                        data-original-title="Delete">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                </span>
                <span style="clear: both"></span>
            </div>
            <div class="modal-body">
                <p style="text-align: left;" id="popup_confirm_message_box_content">...</p>
            </div>
            <div class="modal-footer">
                <button id="confirm-btn-cancel" type="button" class="btn btn-default"
                    data-dismiss="modal">Cancel</button>
                <a id="confirm-btn" class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>