<!DOCTYPE html>
<html lang="en">

  <body>
    <!-- catg header banner section -->
    <section id="aa-catg-head-banner">
      <img src="../img/fashion/fashion-header-bg-8.jpg" alt="fashion img" />
      <div class="aa-catg-head-banner-area">
        <div class="container">
          <div class="aa-catg-head-banner-content">
            <h2>Trang tài khoản</h2>
            <ol class="breadcrumb">
              <li><a href="/">Trang chủ</a></li>
              <li class="active">Tài khoản</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!-- / catg header banner section -->

    <!-- Cart view section -->
    <section id="aa-myaccount">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="aa-myaccount-area">
              <div class="row">
                <div class="col-md-6">
                  <div class="aa-myaccount-login">
                    <h4>Thông tin cá nhân</h4>
                    <form action="" class="aa-login-form">
                      <label for=""
                        >Tên đăng nhập hoặc địa chỉ Email<span>*</span></label
                      >
                      <input type="text" value="nguyen9999thien@gmail.com" />
                      <label for="">Họ và tên<span>*</span></label>
                      <input type="text" value="Quân" />
                      <label for="">Địa chỉ<span>*</span></label>
                      <input type="text" value="1 Nguyễn Du" />
                      <label for="">Mật khẩu hiện tại<span>*</span></label>
                      <input type="password" placeholder="Password" />
                      <label for="">Thay đổi mật khẩu<span>*</span></label>
                      <input type="password" placeholder="Password" />
                      <label for="">Nhập lại mật khẩu<span>*</span></label>
                      <input type="password" placeholder="Password" />
                      <button type="submit" class="aa-browse-btn">
                        Xác nhận
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / Cart view section -->
  </body>
</html>
