

    <!-- start header bottom  -->
    <div class="aa-header-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="aa-header-bottom-area">
              <!-- logo  -->
              <div class="aa-logo">
                <!-- Text based logo -->

                <a href="/">
                  <span class="fa fa-shopping-cart"></span>
                  <p>SCTT<strong>Shop</strong> <span>Your Shopping Partner</span></p>
                </a>
                <!-- img based logo -->
                <!-- <a href="#"><img src="/img/logo.jpg" alt="logo img"></a> -->
              </div>
             
              <!-- search box -->
              <div class="aa-search-box1">
                <div class="aa-search-box row">
                <form action="/products/search" method="POST">
                  <input type="text" name="query" required id="" placeholder="Tìm kiếm tại đây.... ">
                  <button type="submit"><span class="fa fa-search"></span></button>
                </form>
                </div>
                <a class="row" href="/products/search" style="float: right">Tìm kiếm nâng cao?</a>
              </div>
              <!-- / search box -->             
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / header bottom  -->
  </header>
  <!-- / header section -->