<!DOCTYPE html>
<html>
<% include ../common/preheader%>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <% include ../common/header%>
    <% include ../common/sidebar%>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

      <!-- Main content -->
      <section class="content">

        <div>
          <div class="row">
            <div class="col-xs-12">

              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Danh Sách Loại Sản Phẩm</h3>
                  <a href="#" class="btn btn-sm btn-info btn-flat pull-right" data-toggle="modal"
                    data-target="#dlginsertcategory">Thêm Loại Sản Phẩm Mới</a>
                </div>

                <div class="box-body">
                  <table id="categoryTable" style="table-layout: fixed;" class="table no-margin table-striped table-hover">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Tên Loại Sản Phẩm</th>
                        <th>Số Sản Phẩm Tương Ứng</th>
                        <th>Phân Loại</th>
                        <th>Chi Tiết</th>
                        <th>Cập Nhật</th>
                        <th>Xóa</th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
            </div>
          </div>
        </div>

        <div >
            <div id="subCategorySection" style="display:none" class="row" >
              <div class="col-xs-12">
  
                <div class="box">
                  <div class="box-header">
                    <h3 class="box-title">Phân Loại Tương Ứng</h3>
                    <Button class="btn btn-sm btn-info btn-flat pull-right" data-toggle="modal" id="btnInsertSubCategory"
                      data-target="#dlginsertsubcategory">Thêm Phân Loại Sản Phẩm Mới</Button>
                  </div>
  
                  <div class="box-body">
                    <table id="subCategoryTable" class="table no-margin table-striped table-hover">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Phân Loại</th>
                          <th>Cập Nhật</th>
                          <th>Xóa</th>
                        </tr>
                      </thead>
                    </table>
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>
            </div>
          </div>

      </section>

    </div>
    <%include ../common/dialogs%>
    <%include ./categoryDialogs%>
    <%include ../common/script%>

    <script>
      $(function () {
          loadCategory();
      });
    </script>
</body>

</html>