<!DOCTYPE html>
<html>
<% include ../common/preheader%>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <% include ../common/header%>
    <% include ../common/sidebar%>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

      <!-- Main content -->
      <section class="content">

        <div id="products">
          <div class="row">
            <div class="col-xs-12">

              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Danh Sách Loại Sản Phẩm</h3>
                  <a href="#" class="btn btn-sm btn-info btn-flat pull-right" data-toggle="modal"
                    data-target="#dlginsertcategory">Thêm Loại Sản Phẩm Mới</a>
                </div>

                <div class="box-body">
                  <table id="categoryTable" class="table no-margin table-striped table-hover">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Tên Loại Sản Phẩm</th>
                        <th>Số Sản Phẩm Tương Ứng</th>
                        <th>Cập Nhật</th>
                        <th>Xóa</th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
    <%include ../common/dialogs%>
    <%include ./categoryDialogs%>
    <%include ../common/script%>

    <script>
      $(function () {
          loadCategory();
      });
    </script>
</body>

</html>