<body>
      <% include slider %>
      <% include promotion %>
      <% include banner %>
      <% include products %>
      <% include quickviewmodal %>
      <% include support %>
</body>
<script>
  function clickSearch(linkimg)
    {
      document.getElementsByClassName("simpleLens-lens-image")[0].src=linkimg;
      document.getElementById("showImg").src=linkimg;
    }
</script>