<section id="aa-product">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="aa-product-area">
              <div class="aa-product-inner">
                <!-- start prduct navigation -->
                 <ul class="nav nav-tabs aa-products-tab">
                    <li class="active"><a href="#shirt" data-toggle="tab">Áo thun</a></li>
                    <li><a href="#pants" data-toggle="tab">Quần</a></li>
                    <li><a href="#shoes" data-toggle="tab">Giày</a></li>
                    <li><a href="#bags" data-toggle="tab">Ba lô</a></li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <!-- Start men product category -->
                    <div class="tab-pane fade in active" id="shirt">
                      <ul class="aa-product-catg">
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" ><img src="/img/t-shirt/T-Shirt-U.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                              <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">Áo Thun U Y2010 Basic A01</a></h4>
                              <span class="aa-product-price">79.000 VNĐ</span><span class="aa-product-price"><del>150.000 đ</del></span>
                            </figcaption>
                          </figure>                        
                          <div class="aa-product-hvr-content">
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/t-shirt/T-Shirt-U.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                          
                          </div>
                          <!-- product badge -->
                          <span class="aa-badge aa-sale" href="#">SALE!</span>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/t-shirt/T-Shirt- KiriMaru.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                             <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">Áo Thun Nam KiriMaru Basic ST51</a></h4>
                              <span class="aa-product-price">99.000 VNĐ</span>
                            </figcaption>
                          </figure>                         
                          <div class="aa-product-hvr-content">
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/t-shirt/T-Shirt- KiriMaru.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                          <!-- product badge -->
                           <span class="aa-badge aa-sold-out" href="#">Hết hàng!</span>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/t-shirt/T-Shirt- KiriMaru-2.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                             <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">Áo Thun Nam KiriMaru Basic EM04</a></h4>
                              <span class="aa-product-price">99.000 VNĐ</span><span class="aa-product-price"><del>$150.000 đ</del></span>
                            </figcaption>
                          </figure>                         
                          <div class="aa-product-hvr-content">
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/t-shirt/T-Shirt- KiriMaru-2.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                        </li>
                        <!-- start single product item -->
                        <li>
                                <figure>
                                  <a class="aa-product-img" href="#"><img src="/img/t-shirt/T-Shirt- KiriMaru-2.jpg" alt="polo shirt img"></a>
                                  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                                   <figcaption>
                                    <h4 class="aa-product-title"><a href="products/detail?id=1">Áo Thun Nam KiriMaru Basic EM04</a></h4>
                                    <span class="aa-product-price">99.000 VNĐ</span><span class="aa-product-price"><del>$150.000 đ</del></span>
                                  </figcaption>
                                </figure>                         
                                <div class="aa-product-hvr-content">
                                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/t-shirt/T-Shirt- KiriMaru-2.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                </div>
                          <!-- product badge -->
                          <span class="aa-badge aa-hot" href="#">HOT!</span>
                        </li>
                        <!-- start single product item -->
                        <li>
                                <figure>
                                  <a class="aa-product-img" href="#"><img src="/img/t-shirt/T-Shirt- KiriMaru-2.jpg" alt="polo shirt img"></a>
                                  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                                   <figcaption>
                                    <h4 class="aa-product-title"><a href="products/detail?id=1">Áo Thun Nam KiriMaru Basic EM04</a></h4>
                                    <span class="aa-product-price">99.000 VNĐ</span><span class="aa-product-price"><del>$150.000 đ</del></span>
                                  </figcaption>
                                </figure>                         
                                <div class="aa-product-hvr-content">
                                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/t-shirt/T-Shirt- KiriMaru-2.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                </div>
                        </li>
                        <!-- start single product item -->
                        <li>
                                <figure>
                                  <a class="aa-product-img" href="#"><img src="/img/t-shirt/T-Shirt- KiriMaru-2.jpg" alt="polo shirt img"></a>
                                  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                                   <figcaption>
                                    <h4 class="aa-product-title"><a href="products/detail?id=1">Áo Thun Nam KiriMaru Basic EM04</a></h4>
                                    <span class="aa-product-price">99.000 VNĐ</span><span class="aa-product-price"><del>$150.000 đ</del></span>
                                  </figcaption>
                                </figure>                         
                                <div class="aa-product-hvr-content">
                                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/t-shirt/T-Shirt- KiriMaru-2.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                </div>
                        </li>
                        <!-- start single product item -->
                        <li>
                                <figure>
                                  <a class="aa-product-img" href="#"><img src="/img/t-shirt/T-Shirt- KiriMaru-2.jpg" alt="polo shirt img"></a>
                                  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                                   <figcaption>
                                    <h4 class="aa-product-title"><a href="products/detail?id=1">Áo Thun Nam KiriMaru Basic EM04</a></h4>
                                    <span class="aa-product-price">99.000 VNĐ</span><span class="aa-product-price"><del>$150.000 đ</del></span>
                                  </figcaption>
                                </figure>                         
                                <div class="aa-product-hvr-content">
                                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/t-shirt/T-Shirt- KiriMaru-2.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                </div>
                        </li>
                        <!-- start single product item -->
                        <li>
                                <figure>
                                  <a class="aa-product-img" href="#"><img src="/img/t-shirt/T-Shirt- KiriMaru-2.jpg" alt="polo shirt img"></a>
                                  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                                   <figcaption>
                                    <h4 class="aa-product-title"><a href="products/detail?id=1">Áo Thun Nam KiriMaru Basic EM04</a></h4>
                                    <span class="aa-product-price">99.000 VNĐ</span><span class="aa-product-price"><del>$150.000 đ</del></span>
                                  </figcaption>
                                </figure>                         
                                <div class="aa-product-hvr-content">
                                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/t-shirt/T-Shirt- KiriMaru-2.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                </div>   
                          <!-- product badge -->
                           <span class="aa-badge aa-sold-out" href="#">Hết hàng!</span>
                        </li>                        
                      </ul>
                      <a class="aa-browse-btn" href="/products/type?id=1" style="align-items: center; justify-content: center">Xem tất cả sản phẩm<span class="fa fa-long-arrow-right"></span></a>
                    </div>
                    <!-- / men product category -->
                    <!-- start women product category -->
                    <div class="tab-pane fade" id="pants">
                      <ul class="aa-product-catg">
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/pants/1.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">Quần Jogger Nam Ma Bư Thun X01</a></h4>
                              <span class="aa-product-price">255.000 VNĐ</span><span class="aa-product-price"><del>400.000</del></span>
                            </figcaption>
                          </figure>                         
                          <div class="aa-product-hvr-content">
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/pants/1.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                          </div>
                          <!-- product badge -->
                          <span class="aa-badge aa-sale" href="#">SALE!</span>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/pants/2.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">Quần Kaki Nam No Style Sooc G03</a></h4>
                              <span class="aa-product-price">185.000 VNĐ</span>
                            </figcaption>
                          </figure>                         
                          <div class="aa-product-hvr-content">
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/pants/2.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                          <!-- product badge -->
                           <span class="aa-badge aa-hot" href="#">HOT!</span>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/pants/2.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">Quần Kaki Nam No Style Sooc G03</a></h4>
                              <span class="aa-product-price">150.000 VNĐ</span><span class="aa-product-price"><del>250.000đ</del></span>
                            </figcaption>
                          </figure>                         
                          <div class="aa-product-hvr-content">
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/pants/2.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/pants/2.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">Quần Kaki Nam No Style Sooc G03</a></h4>
                              <span class="aa-product-price">150.000 VNĐ</span><span class="aa-product-price"><del>250.000đ</del></span>
                            </figcaption>
                          </figure>                          
                          <div class="aa-product-hvr-content">
                            
                            
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/pants/2.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                          <!-- product badge -->
                          <span class="aa-badge aa-sold-out" href="#">Hết hàng!</span>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/pants/2.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">Quần Kaki Nam No Style Sooc G03</a></h4>
                              <span class="aa-product-price">200.000 VNĐ</span>
                            </figcaption>
                          </figure>
                         
                          <div class="aa-product-hvr-content">
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/pants/2.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/pants/2.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">Quần Kaki Nam No Style Sooc G03</a></h4>
                              <span class="aa-product-price">150.000VNĐ</span><span class="aa-product-price"><del>200.000đ</del></span>
                            </figcaption>
                          </figure>                          
                          <div class="aa-product-hvr-content">
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/pants/2.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/pants/2.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">Quần Kaki Nam No Style Sooc G03</a></h4>
                              <span class="aa-product-price">300.000VNĐ</span><span class="aa-product-price"><del>450.000đ</del></span>
                            </figcaption>
                          </figure>                          
                          <div class="aa-product-hvr-content">
                            
                            
                           <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/pants/2.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                          <!-- product badge -->
                          <span class="aa-badge aa-sale" href="#">SALE!</span>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/pants/2.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">Quần Kaki Nam No Style Sooc G03</a></h4>
                              <span class="aa-product-price">150.000VNĐ</span>
                            </figcaption>
                          </figure>                         
                          <div class="aa-product-hvr-content">
                            
                            
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/pants/2.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                          <!-- product badge -->
                           <span class="aa-badge aa-sold-out" href="#">Hết hàng!</span>
                        </li>                        
                      </ul>
                      <a class="aa-browse-btn" href="/products/type?id=1">Xem tất cả sản phẩm<span class="fa fa-long-arrow-right"></span></a>
                    </div>
                    <!-- / pants product category -->
                    <!-- start shoes product category -->
                    <div class="tab-pane fade" id="shoes">
                      <ul class="aa-product-catg">
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/shoes/1.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">This is Title</a></h4>
                              <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                            </figcaption>
                          </figure>                         
                          <div class="aa-product-hvr-content">

                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/pants/2.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                          
                          </div>
                          <!-- product badge -->
                          <span class="aa-badge aa-sale" href="#">SALE!</span>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/shoes/2.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">Giày Nam Y2010 G07</a></h4>
                              <span class="aa-product-price">$45.50</span>
                            </figcaption>
                          </figure>                         
                          <div class="aa-product-hvr-content">
                            
                            
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/shoes/2.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                          <!-- product badge -->
                           <span class="aa-badge aa-sold-out" href="#">Hết hàng!</span>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/shoes/1.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">Giày Nam Y2010 G07</a></h4>
                              <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                            </figcaption>
                          </figure>                          
                          <div class="aa-product-hvr-content">
                            
                            
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/shoes/1.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/shoes/2.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">Giày Nam Y2010 G07</a></h4>
                              <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                            </figcaption>
                          </figure>                         
                          <div class="aa-product-hvr-content">
                            
                            
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/shoes/2.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                          <!-- product badge -->
                          <span class="aa-badge aa-hot" href="#">HOT!</span>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/shoes/1.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">Giày Nam Y2010 G07</a></h4>
                              <span class="aa-product-price">$45.50</span>
                            </figcaption>
                          </figure>                          
                          <div class="aa-product-hvr-content">
                           
                            
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/shoes/1.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/shoes/2.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">Giày Nam Y2010 G07</a></h4>
                              <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                            </figcaption>
                          </figure>                         
                          <div class="aa-product-hvr-content">
                            
                            
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/shoes/2.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/shoes/1.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">Giày Nam Y2010 G07</a></h4>
                              <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                            </figcaption>
                          </figure>                          
                          <div class="aa-product-hvr-content">
                            
                            
                           <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/shoes/1.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                          <!-- product badge -->
                          <span class="aa-badge aa-sale" href="#">SALE!</span>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/shoes/2.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">Giày Nam Y2010 G07</a></h4>
                              <span class="aa-product-price">$45.50</span>
                            </figcaption>
                          </figure>                         
                          <div class="aa-product-hvr-content">
                            
                            
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/shoes/2.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                          <!-- product badge -->
                           <span class="aa-badge aa-sold-out" href="#">Hết hàng!</span>
                        </li>                        
                      </ul>
                      <a class="aa-browse-btn" href="/products/type?id=1">Xem tất cả sản phẩm<span class="fa fa-long-arrow-right"></span></a>
                    </div>
                    <!-- / shoes product category -->
                    
                    <!-- start bags product category -->
                    <div class="tab-pane fade" id="bags">
                       <ul class="aa-product-catg">
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/balo/1.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">BLTX U Adachi H37</a></h4>
                              <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                            </figcaption>
                          </figure>                         
                          <div class="aa-product-hvr-content">
                            
                            
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/balo/1.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
                          </div>
                          <!-- product badge -->
                          <span class="aa-badge aa-sale" href="#">SALE!</span>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/balo/2.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">BLTX U Adachi H37</a></h4>
                              <span class="aa-product-price">$45.50</span>
                            </figcaption>
                          </figure>                         
                          <div class="aa-product-hvr-content">
                            
                            
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/balo/2.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                          <!-- product badge -->
                           <span class="aa-badge aa-sold-out" href="#">Hết hàng!</span>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/balo/1.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">BLTX U Adachi H37</a></h4>
                              <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                            </figcaption>
                          </figure>                          
                          <div class="aa-product-hvr-content">
                            
                            
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/balo/1.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/balo/2.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">BLTX U Adachi H37</a></h4>
                              <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                            </figcaption>
                          </figure>                          
                          <div class="aa-product-hvr-content">
                            
                            
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/balo/2.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                          <!-- product badge -->
                          <span class="aa-badge aa-hot" href="#">HOT!</span>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/balo/1.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">BLTX U Adachi H37</a></h4>
                              <span class="aa-product-price">$45.50</span>
                            </figcaption>
                          </figure>                         
                          <div class="aa-product-hvr-content">
                           
                            
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/balo/1.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/balo/2.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">BLTX U Adachi H37</a></h4>
                              <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                            </figcaption>
                          </figure>                         
                          <div class="aa-product-hvr-content">
                            
                            
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/balo/2.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/balo/1.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">BLTX U Adachi H37</a></h4>
                              <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                            </figcaption>
                          </figure>                          
                          <div class="aa-product-hvr-content">
                            
                            
                           <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/balo/1.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                          <!-- product badge -->
                          <span class="aa-badge aa-sale" href="#">SALE!</span>
                        </li>
                        <!-- start single product item -->
                        <li>
                          <figure>
                            <a class="aa-product-img" href="#"><img src="/img/balo/2.jpg" alt="polo shirt img"></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                            <figcaption>
                              <h4 class="aa-product-title"><a href="products/detail?id=1">BLTX U Adachi H37</a></h4>
                              <span class="aa-product-price">$45.50</span>
                            </figcaption>
                          </figure>                          
                          <div class="aa-product-hvr-content">
                            
                            
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('/img/balo/2.jpg')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                          </div>
                          <!-- product badge -->
                           <span class="aa-badge aa-sold-out" href="#">Hết hàng!</span>
                        </li>                        
                      </ul>
                      <a class="aa-browse-btn" href="/products/type?id=1">Xem tất cả sản phẩm<span class="fa fa-long-arrow-right"></span></a>
                    </div>
                    <!-- / electronic product category -->
                  </div>
                 
  <!-- / Products section -->