 <!-- Support section -->
 <section id="aa-support">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-support-area">
            <!-- single support -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="aa-support-single">
                <span class="fa fa-truck"></span>
                <h4>GIAO HÀNG</h4>
                <P>Miễn phí giao hàng toàn quốc cho đơn hàng trên 500.000 VNĐ (nội thành HCM) và 1.000.0000 (ngoại thành HCM)</P>
              </div>
            </div>
            <!-- single support -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="aa-support-single">
                <span class="fa fa-clock-o"></span>
                <h4>30 NGÀY DÙNG THỬ</h4>
                <P>Sẽ được hoàn trả tiền hoặc đổi sản phẩm mới tương đương trong vòng 30 ngày kể từ ngày mua hàng in trên hóa đơn nếu phát hiện lỗi từ nhà sản xuất.</P>
              </div>
            </div>
            <!-- single support -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="aa-support-single">
                <span class="fa fa-phone"></span>
                <h4>HỖ TRỢ 24/7</h4>
                <P>Tổng đài CSKH (028) 7307 1441 luôn sẵn sàng để hỗ trợ cho bạn.</P>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Support section -->  